/* frontend/src/index.css */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* 아래 2줄 제거 (Chakra가 관리) */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ... a, h1 등 다른 스타일 ... */

body {
  margin: 0;
  /* 아래 3줄 제거 (Chakra가 관리) */
  /* display: flex; */
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}

/* ... button 스타일 등 ... */

/* Chakra UI의 Button을 사용할 것이므로 
  기존 button 스타일은 제거하는 것을 권장합니다.
*/
/* button {
  ...
} 
*/

/* @media (prefers-color-scheme: light) { ... } 
  내부의 color, background-color도 제거합니다.
*/